##############################
#######    Arquivos     ######
##############################
*.tfstate
*.tfstate.*
link_app.txt
*.tfout

##############################
######    Diretórios     #####
##############################
.terraform/**
.idea/**